/* header */
.header {
    background-color: #ffffff;
    max-height: 75px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header end */